@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&family=Poppins:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.flex-container {
  display: flex;
  flex-direction: row;
}

/* LEFT NAVIGATION SECTION */

.flex-nav-bar {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  margin-left: 20px;
}

.nav-top {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #f7542e;
}

.nav-bottom {
  margin-top: 100px;
}

.nav-bottom > p {
  color: #9e9e9e;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  font-family: Noto Sans JP;
}

.nav-bottom .active {
  font-weight: bold;
  color: black;
}

/* RIGHT SIDE SECTION */

.buttons-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 650px;
}

.buttons-section > div {
  width: 100px;
  height: 50px;
  margin-right: 200px;
  margin-bottom: 15px;
}

div > h1 {
  margin-right: 300px;
  margin-bottom: 20px;
  margin-left: 80px;
  width: 93px;
  height: 36px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  color: #4f4f4f;
}

.buttons-section .single-element {
  width: 100px;
  height: 50px;
  margin-right: 300px;
  margin-bottom: 20px;
}

.buttons-section .three-element {
  width: 100px;
  height: 50px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.buttons-section .four-elements {
  width: 100px;
  height: 50px;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.four-elements > pre {
  margin-left: 25px;
}

div > pre {
  font-family: Ubuntu Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  margin-left: 80px;
  margin-bottom: 5px;
  margin-top: 0px;
}
